table{
	border: solid 1px black;
	border-collapse:collapse;
	margin:20px;
	
}
td,th{
	border: solid 1px black;
	padding:10px;
}

tr:hover{
	background-color:gray;
	color:white;
}
a:link{
	color:red;
}
a:visited{
	color:blue;
}
a:hover{
	text-decoration:none;
	color:green;
}
a:active{
	color:yellow;
}

div{
	width:400px;
	text-align:center;
}



















/*CSS que precisamos dominar na aula de hoje
pseudoclasses: LoVe HAte
a:link
a:visited
a:hover
a:active
display: block
display: none
border: 25px solid green;
padding: 25px;
margin: 25px;
*/